.hidden-content {
  display: none;
  position: absolute;
  top: 200%;
  left: 40%;
  background: #f6f4f9;
  border-radius: 8px;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  padding-right: 40px;
  padding-left: 12px;
  z-index: 50 !important;
}
.dispaly-none {
  display: flex;
}
.nav-bar::before{
  content: url(../Assets/blob-top-left.png);
  position: absolute;
  left: 0;
}
.nav-bar::after{
  content: url(../Assets/blob-top-right.png);
  position: absolute;
  left: 91%;
  top: -20px;
  
}
